*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(11, 104, 11);
    padding: 2rem;
    width: 100%;
}

nav>ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    justify-content: center;

}

nav>ul>li{
    cursor: pointer;
}

main{
    min-height: 80vh;
    padding: 2rem;
    width: 100%;
}

footer{
        background-color: rgb(11, 104, 11);
    padding: 2rem;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}